<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{username}} on webapp</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-icons.css')}}"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('webapp_index')}}"><i class="bi-globe2" role="img"></i> webapp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav w-100 mb-2 mb-lg-0 justify-content-between align-items-center">
                <div class="d-flex justify-content-start align-items-center">
                    <div class="nav-item mx-3">
                        <a class="nav-link" href="https://github.com/danlliu/webapp">Changelog</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle text-muted" href="#" id="userDropdown" role="button"
                       data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                        <span>
                            <i class="bi-person-fill" role="img"></i>
                            {{logname}}
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="#FIXME">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-danger" href="#FIXME">Log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="p-5">
    <div class="mb-3 d-flex justify-content-start align-items-center">
        {% if image == None %}
        <i class="bi-person-fill" style="font-size: 48px" role="img"></i>
        {% else %}
        <image class="img-thumbnail" src="{{url_for('webapp_uploads', path=image)}}"
               style="max-width: 48px; max-height: 48px;"></image>
        {% endif %}
        <h1 class="ms-3 mb-0">{{username}}</h1>
    </div>
    <div class="mb-3">
        <h2>About Me</h2>
        <p>{{about}}</p>
    </div>
</div>

<script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
</body>
</html>
